USE [GesinV2]
GO
/****** Object:  Table [dbo].[Activos]    Script Date: 17/12/2022 22:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Idsubsistema] [int] NOT NULL,
 CONSTRAINT [PK_DescripcionSelect] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config_Usuario]    Script Date: 17/12/2022 22:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config_Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Background] [nvarchar](60) NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Config_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criticidad]    Script Date: 17/12/2022 22:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criticidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK__Criticid__3214EC072AAA1D7E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estacion]    Script Date: 17/12/2022 22:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Activo_Inactivo] [bit] NULL,
 CONSTRAINT [PK__Zona__3214EC07EB4F6B46] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoOT]    Script Date: 17/12/2022 22:00:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoOT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__EstadoOT__3214EC076B4849B4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcion]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Funcionmantenedor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mantenedor]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenedor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Empresa_mantenedora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](20) NOT NULL,
	[IdFuncion] [int] NOT NULL,
 CONSTRAINT [PK__Mantened__3214EC07B9735D82] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reportes]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reportes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdSubsistema] [int] NOT NULL,
	[Ubicacion] [nvarchar](100) NOT NULL,
	[IdEstacion] [int] NOT NULL,
	[Operador_reporte] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](400) NOT NULL,
	[Fechaaveria] [datetime] NOT NULL,
	[IdCriticidad] [int] NOT NULL,
	[IdSM] [int] NOT NULL,
	[OT] [bigint] NULL,
	[IdEstadoOT] [int] NOT NULL,
	[Comentario] [nvarchar](400) NULL,
	[Fechanotificacion] [datetime] NULL,
	[Mantenedor_notificar] [nvarchar](50) NULL,
	[Fechainicio] [datetime] NULL,
	[Fechafinal] [datetime] NULL,
	[IdUsuarios] [int] NOT NULL,
	[Mantenedor_reparo] [nvarchar](50) NULL,
	[Operador_Cierre] [nvarchar](50) NULL,
	[IdUsuario_Actualizo] [int] NULL,
	[CodigoOperador_reporte] [nvarchar](50) NULL,
	[CodigoOperador_Cierre] [nvarchar](50) NULL,
	[IdSistema] [int] NOT NULL,
	[Idmantenedor] [int] NOT NULL,
 CONSTRAINT [PK_Reportes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sistema]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Sistema_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SM]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Sistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsistema]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsistema](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[IdSistema] [int] NOT NULL,
	[IdMantenedor] [int] NOT NULL,
 CONSTRAINT [PK_Subsistema] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Ubicacio__3214EC0785DF5FEA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/12/2022 22:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](20) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Activo_Inativo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activos] ON 

INSERT [dbo].[Activos] ([Id], [Descripcion], [Idsubsistema]) VALUES (1, N'GAT  01 fuera de servicio.', 1)
INSERT [dbo].[Activos] ([Id], [Descripcion], [Idsubsistema]) VALUES (2, N'GAT 01, no valida.', 1)
INSERT [dbo].[Activos] ([Id], [Descripcion], [Idsubsistema]) VALUES (5, N'GAT 02 , pictograma con caracteres erroneos', 1)
SET IDENTITY_INSERT [dbo].[Activos] OFF
GO
SET IDENTITY_INSERT [dbo].[Config_Usuario] ON 

INSERT [dbo].[Config_Usuario] ([Id], [Background], [IdUsuario]) VALUES (1, N'#860909', 6)
INSERT [dbo].[Config_Usuario] ([Id], [Background], [IdUsuario]) VALUES (2, N'#182162', 1)
SET IDENTITY_INSERT [dbo].[Config_Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[Criticidad] ON 

INSERT [dbo].[Criticidad] ([Id], [Nombre]) VALUES (1, N'Bajo Impacto')
INSERT [dbo].[Criticidad] ([Id], [Nombre]) VALUES (2, N'Alto Impacto')
SET IDENTITY_INSERT [dbo].[Criticidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Estacion] ON 

INSERT [dbo].[Estacion] ([Id], [Nombre], [Activo_Inactivo]) VALUES (1, N'C. Heroes', 1)
INSERT [dbo].[Estacion] ([Id], [Nombre], [Activo_Inactivo]) VALUES (2, N'F. Camaño', 1)
INSERT [dbo].[Estacion] ([Id], [Nombre], [Activo_Inactivo]) VALUES (3, N'A. Abel', 1)
SET IDENTITY_INSERT [dbo].[Estacion] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoOT] ON 

INSERT [dbo].[EstadoOT] ([Id], [Nombre]) VALUES (1, N'Creada')
INSERT [dbo].[EstadoOT] ([Id], [Nombre]) VALUES (2, N'Reportada')
INSERT [dbo].[EstadoOT] ([Id], [Nombre]) VALUES (3, N'Creada Reportada')
SET IDENTITY_INSERT [dbo].[EstadoOT] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcion] ON 

INSERT [dbo].[Funcion] ([Id], [Nombre]) VALUES (1, N'Call Center')
INSERT [dbo].[Funcion] ([Id], [Nombre]) VALUES (2, N'Tecnico')
INSERT [dbo].[Funcion] ([Id], [Nombre]) VALUES (3, N'Operador')
SET IDENTITY_INSERT [dbo].[Funcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Mantenedor] ON 

INSERT [dbo].[Mantenedor] ([Id], [Nombre]) VALUES (1, N'CCS')
INSERT [dbo].[Mantenedor] ([Id], [Nombre]) VALUES (2, N'OPRET')
INSERT [dbo].[Mantenedor] ([Id], [Nombre]) VALUES (3, N'LIRIANO')
SET IDENTITY_INSERT [dbo].[Mantenedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([Id], [Nombre], [Codigo], [IdFuncion]) VALUES (2, N'Honey Minaya', N'1246      ', 1)
INSERT [dbo].[Persona] ([Id], [Nombre], [Codigo], [IdFuncion]) VALUES (3, N'Katherine Brigewater', N'3256      ', 1)
INSERT [dbo].[Persona] ([Id], [Nombre], [Codigo], [IdFuncion]) VALUES (4, N'Pedro Xavier', N'4587      ', 1)
GO
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Reportes] ON 

SET IDENTITY_INSERT [dbo].[Reportes] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([Id], [Nombre]) VALUES (1, N'Administrador')
INSERT [dbo].[Rol] ([Id], [Nombre]) VALUES (2, N'Agente')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Sistema] ON 

INSERT [dbo].[Sistema] ([Id], [Nombre]) VALUES (1, N'Sistemas Auxiliares')
INSERT [dbo].[Sistema] ([Id], [Nombre]) VALUES (2, N'Cable')
INSERT [dbo].[Sistema] ([Id], [Nombre]) VALUES (3, N'Refrigeracion')
SET IDENTITY_INSERT [dbo].[Sistema] OFF
GO
SET IDENTITY_INSERT [dbo].[SM] ON 

INSERT [dbo].[SM] ([Id], [Nombre]) VALUES (4, N'Maximo              ')
INSERT [dbo].[SM] ([Id], [Nombre]) VALUES (5, N'APK                 ')
INSERT [dbo].[SM] ([Id], [Nombre]) VALUES (10, N'Gesin               ')
SET IDENTITY_INSERT [dbo].[SM] OFF
GO
SET IDENTITY_INSERT [dbo].[Subsistema] ON 

INSERT [dbo].[Subsistema] ([Id], [Nombre], [IdSistema], [IdMantenedor]) VALUES (1, N'Bombeo de Agua - CCS', 1, 1)
INSERT [dbo].[Subsistema] ([Id], [Nombre], [IdSistema], [IdMantenedor]) VALUES (2, N'Bombeo de Agua Fecales - CCS', 1, 1)
INSERT [dbo].[Subsistema] ([Id], [Nombre], [IdSistema], [IdMantenedor]) VALUES (4, N'Bombeo de Agua - OPRET', 1, 2)
SET IDENTITY_INSERT [dbo].[Subsistema] OFF
GO
SET IDENTITY_INSERT [dbo].[Ubicacion] ON 

INSERT [dbo].[Ubicacion] ([Id], [Nombre]) VALUES (1, N'Cuarto BT')
INSERT [dbo].[Ubicacion] ([Id], [Nombre]) VALUES (2, N'Cuarto AT')
INSERT [dbo].[Ubicacion] ([Id], [Nombre]) VALUES (3, N'AT/BT')
SET IDENTITY_INSERT [dbo].[Ubicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Codigo], [UserName], [Password], [IdRol], [Activo_Inativo]) VALUES (1, N'Wilson', N'Garcia              ', N'4796', N'wgarcia   ', N'CfDJ8FJ5k4rOBjBAhplq8UncggA0t3xzrj1zxKnZs-T_MC1DI2Uwmk-g2CdAK2GsF7BNnh0ltKgEZopl4Fkk3kDnmOvGi1nFfUDLgelVSmUZ-SeXt0FFycDgRgjuOoFl-5Ucyg', 1, 1)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Codigo], [UserName], [Password], [IdRol], [Activo_Inativo]) VALUES (6, N'Cristian', N'Candelario', N'4792', N'ccandelario', N'CfDJ8FJ5k4rOBjBAhplq8UncggDfUNCXSn4z23m88a2IQ7MloGdAFdECK4pVQReYd3AmuV581JWzG1wV4yjBdA_I7v3CZgnhSHz42Q6AYkk7NtSk3Mb3KZJR-1ZVmpku6xYxRA', 2, 1)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Apellido], [Codigo], [UserName], [Password], [IdRol], [Activo_Inativo]) VALUES (7, N'Ayesha', N'Montero', N'3951', N'amontero', N'CfDJ8FJ5k4rOBjBAhplq8UncggDAidJ-lDkZNMyS2eX_QFJHostsdBH9waoV76J8wSy4adsTwDOXDAqbYIC2IUgbiDb0q2MxwErf0_V7-ptYxnuB7dn2qzB5pfl7wlozNcT0ow', 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Activos]  WITH CHECK ADD  CONSTRAINT [FK_DescripcionSelect_Subsistema] FOREIGN KEY([Idsubsistema])
REFERENCES [dbo].[Subsistema] ([Id])
GO
ALTER TABLE [dbo].[Activos] CHECK CONSTRAINT [FK_DescripcionSelect_Subsistema]
GO
ALTER TABLE [dbo].[Config_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Config_Usuario_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Config_Usuario] CHECK CONSTRAINT [FK_Config_Usuario_Usuario]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Persona_Funcion] FOREIGN KEY([IdFuncion])
REFERENCES [dbo].[Funcion] ([Id])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Persona_Funcion]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Criticidad] FOREIGN KEY([IdCriticidad])
REFERENCES [dbo].[Criticidad] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Criticidad]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Estacion] FOREIGN KEY([IdEstacion])
REFERENCES [dbo].[Estacion] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Estacion]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_EstadoOT] FOREIGN KEY([IdEstadoOT])
REFERENCES [dbo].[EstadoOT] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_EstadoOT]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Mantenedor] FOREIGN KEY([Idmantenedor])
REFERENCES [dbo].[Mantenedor] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Mantenedor]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Sistema] FOREIGN KEY([IdSistema])
REFERENCES [dbo].[Sistema] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Sistema]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_SM] FOREIGN KEY([IdSM])
REFERENCES [dbo].[SM] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_SM]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Subsistema] FOREIGN KEY([IdSubsistema])
REFERENCES [dbo].[Subsistema] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Subsistema]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_UsuarioActualizo] FOREIGN KEY([IdUsuario_Actualizo])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_UsuarioActualizo]
GO
ALTER TABLE [dbo].[Reportes]  WITH CHECK ADD  CONSTRAINT [FK_Reportes_Usuarios] FOREIGN KEY([IdUsuarios])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Reportes] CHECK CONSTRAINT [FK_Reportes_Usuarios]
GO
ALTER TABLE [dbo].[Subsistema]  WITH CHECK ADD  CONSTRAINT [FK_Subsistema_Mantenedor] FOREIGN KEY([IdMantenedor])
REFERENCES [dbo].[Mantenedor] ([Id])
GO
ALTER TABLE [dbo].[Subsistema] CHECK CONSTRAINT [FK_Subsistema_Mantenedor]
GO
ALTER TABLE [dbo].[Subsistema]  WITH CHECK ADD  CONSTRAINT [FK_Subsistema_Sistema] FOREIGN KEY([IdSistema])
REFERENCES [dbo].[Sistema] ([Id])
GO
ALTER TABLE [dbo].[Subsistema] CHECK CONSTRAINT [FK_Subsistema_Sistema]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
