

p .Erroralert {
    color: #820a0a;
    font-size: 50px;
    padding: 25px;
}
.col-primaria-filtro {
   
    height: 57px;
  
}


.col-primaria-tabla {
    overflow: auto; /*con este overfllow hacemos que me ponga la barra de scroll cuando el contenido no quepa*/
    width: 100%;
    height: 430px;
}


.col-primaria-reportes {
    /*overflow: hidden;*/
   /* height: 380px;*/
  
}
.fila-reportes {
    height: 100%;
}


.col-secundaria {
/*
    background-image: url('../img/greg-rosenke-6QnEf_b47eA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
  
}


    .fila-primaria-padre {
        /*height: 100vh;*/
    }



    .Columna-descripcion {
        width: 300px;
    }

    .filtrofecha {
        color: red;
        text-align: center;
    }

    /*.cabecera-tabla {
    background-color: rgba(18,47,94,0.9);
}*/

    .error {
        background-color: #f77474;
        border: 1px solid red;
    }

        .error:focus {
            outline: red;
        }

    .normal {
        outline: none;
        width: 100px;
    }

    .estadocreada {
        background-color: blue;
    }


    .camposfiltros {
        width: 75px
    }

    .icono {
        font-size: 20px;
        color: rgb(17 155 11);
    }

        .icono:hover {
            color: rgb(20 79 17);
            transition: .5s;
        }

    .limpiar {
        font-size: 18px;
        color: rgb(250 215 98)
    }

        .limpiar:hover {
            color: rgb(146 120 0);
            transition: 0.3s;
        }

    .salir {
        font-size: 18px;
    }

    /* .cascada{

            height:100%;
        }

        .divcascada{

            border: 1px solid red;

        }*/

  
    .ocultar_contenido {
        display: none;
    }

    /*los border se muestran si la pantalla tiene un ancho de 576px en adelante en bootstrap de sm en adelante*/
@media screen and  (min-width: 576px) {

    

    .col-secundaria-border{

        border-right: 2px solid #ffffff;
    }

    

}

