
@{
    ViewData["Title"] = "Restringido";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


<div class=" d-flex   justify-content-around col-6 offset-3 mt-5 alert alert-primary" >
    
    <div > No tiene acceso a esta pagina </div>

    <a  class="btn btn-Success" asp-action="Index" asp-controller="Reportes"> regresar</a>
</div>


