@using gesin_app.ViewModel;
@model IEnumerable<PersonaView>
@{
    ViewData["Title"] = "Index";

    List<SelectListItem> Funciones = new List<SelectListItem>();

    Funciones = ViewBag.funciones;

   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>

        .btn-agregar {
            font-size: 25px;
        }


        .btn-eliminar {
            font-size: 25px;
        }
    </style>
</head>


<body>

    <div class="row">

        <div class="col-12 d-flex justify-content-center mb-5">

            <h3>Personas</h3>
        </div>

        <div class="col-12 d-flex justify-content-center mb-5">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crear_persona">

                <div class="d-flex align-items-center">


                    <div class="px-2">agregar</div> <i class="fa-solid fa-circle-plus btn-agregar"></i>


                </div>

            </button>

            <!------------- Moda para crear una nueva estacion -------->
            <div class="modal fade" id="crear_persona" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Agregar Personas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form id="formPersona" method="post">

                            <div class="modal-body">


                               <div class="row">
                                    <div class="col-12 col-md-6 mb-3">

                                       
                                        <input id="nombre" class="form-control form-control-sm" placeholder="Nombre" />

                                    </div>

                                    <div class="col-12 col-md-6 mb-3 ">

                                        
                                        <input id="codigo" class="form-control form-control-sm " placeholder="Codigo" />
                                    </div>

                                    <div class="col-12 col-md-6 offset-md-3 mb-3">


                                        
                                        <select class="form-control form-control-sm" id="funcion" asp-items="@Funciones"></select>
                                    </div>


                               </div>

                            </div>
                            <div class="modal-footer " id="btnfooter">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <input type="submit" class="btn btn-primary" value="Agregar" id="btnenviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="col col-sm-6 m-auto">




            <table class="table table-sm table-bordered ">

                <thead class="table-dark text-center ">

                    <tr>
                        
                        <th>#</th>
                        <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Codigo)</th>
                        <th>@Html.DisplayNameFor(model => model.IdFuncionNavigationNombre)</th>

                        <th>Operaciones</th>



                    </tr>


                </thead>

                <tbody id="pintardata">

                    <!--Aqi se va a cargar la data de manera asincrono-->

                </tbody>



            </table>




        </div>


    </div>


    <!------------------------Modal para editar una estacion ---------------------------->

    <div class="modal fade" id="editarEstacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar Estacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEstacionesEditar" method="post">
                    <div class="modal-body">

                        <input class=" form-control" id="idEstacionEditar" disabled hidden>

                        <label class="form-label">Nombre</label>
                        <input id="nombreEstacionEditar" class="form-control" />

                    </div>
                    <div class="modal-footer " id="btnfooter">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <input type="submit" class="btn btn-primary" value="Actualizar" id="btnenviar">
                    </div>
                </form>
            </div>
        </div>
    </div>





</body>
</html>





<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c6f899d35a.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


@section Scripts{

    <script>

        window.onload = function () {

            pintardara();

        }


        //--------Listar estaciones asincrono----------------------
        function pintardara() {

            const url = "/Personas/ListarPersonas";

            fetch(url)
                .then(res => res.json())
                .then(data => {

                    const pintardata = document.getElementById("pintardata");
                    let filatabla = "";

                    let conteo = 0;

                    for (var i = 0; i < data.length; i++) {

                         conteo++;

                        filatabla += `

                                                <tr>
                                                <td>${conteo}</td>
                                                <td>${data[i].nombre}</td>
                                                <td>${data[i].codigo}</td>
                                                <td>${data[i].idFuncionNavigationNombre}</td>

                                                <td class="d-flex justify-content-around">



                                                    <!-- Button trigger modal -->

                                                    <button onclick="EditarEstacion(${data[i].id})" type="button" class="btn btn-sm btn-success " data-bs-toggle="modal" data-bs-target="#editarEstacion">

                                                        <div class="d-flex align-items-center">

                                                            <div class="px-1">Editar </div>  <i class="fa-solid fa-pen-to-square btn-editar"></i>

                                                        </div>

                                                    </button>

                                                    <button onclick="Eliminarestacion(${data[i].id})" type="button" class="btn btn-sm btn-danger ">

                                                        <div class="d-flex align-items-center">

                                                            <div class="px-1">Eliminar </div>  <i class="fas fa-regular fa-trash"></i>

                                                        </div>

                                                    </button>

                                                                                      <!-- Modal -->
                                                        <div class="modal fade" id="editar_estacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <form id="formEstacionesEditar" method="post">
                                                                        <div class="modal-body">

                                                                            <input id="idEstacion" class="form-control" />

                                                                            <label class="form-label">Nombre</label>
                                                                            <input id="nombreEstacion" class="form-control" />
                                                                        </div>
                                                                        <div class="modal-footer " id="btnfooter">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                                            <input type="submit" class="btn btn-primary" value="Actualizar" >
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>




                                                 </td>



                                                </tr>




                                                 `





                    }

                    pintardata.innerHTML = filatabla;


                })



        }




        //------- crear estaciones asincrono-----------

        const formPersona = document.getElementById("formPersona");

        formPersona.addEventListener("submit", crearpersonas);

      function crearpersonas(e){


            e.preventDefault();



            const nombre= document.getElementById("nombre").value;
             const codigo= document.getElementById("codigo").value;
            const funcion = document.getElementById("funcion");

            alert(funcion.value)

            const url = "/Personas/CrearEditar/persona";

            fetch(url, {

                method: 'POST',
                body: JSON.stringify({

                    nombre: nombre,
                    codigo: codigo,
                    idFuncion: Number(funcion.value)



                }),
                headers: {
                    'Content-Type': 'application/json'
                }



            })
                .then(res => res.json())
                .then(data => {

                    if (data == 3) {

                        Swal.fire('esta estacion ya existe')

                    }
                    else {



                        if (data == 1) {




                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Se ha agregado correctamente',
                                showConfirmButton: false,
                                timer: 2000
                            })
                            pintardara();

                            const nombreEstacion = document.getElementById("nombreEstacion").value = "";
                            const idEstacion = document.getElementById("idEstacion").value = "";


                        }




                        else {


                            Swal.fire({
                                icon: 'warning',
                                title: 'Advertencia...',
                                text: 'el campo nombre es obligatorio',
                                //footer: '<a href="">Why do I have this issue?</a>'
                            })

                        }

                    }



                })

        }

      


    </script>



}